/.git_test/*
/node_modules
/public/hot
/public/storage/*
/storage/*.key
/database/seeds/CompanyTableSeeder.php
/config/multitenancy.php
/storage/custom-logs/*.log
/storage/custom-log/*.log
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
/.vscode
/.vagrant
/nbproject
*.zip
*.rar
*.sql
.htaccess.07122020.bak
.htaccess.07272020.bak
php.ini
php.ini.bak_07122020
.user.ini
